{% extends 'base.html.twig' %}

{% block title %}New association{% endblock %}

{% block body %}
    <h1>Creation d'une nouvelle association</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <div class="button_new">

        <button class="btn btn-edit">{{ button_label|default('Sauvegarder') }}</button>

        <button class="btn btn-profil"><a href="{{ path('app_back_asso') }}"> Retour à la liste</a></button>

    </div>

    {{ form_end(form) }}

{% endblock %}
